#project {
    padding: 30px 0px 20px 0px;
}

.project {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 30px 0px 30px 0px;
}

.project-icon {
    border: 2px solid rgb(14, 8, 7);
    border-radius: 10px;
    width: 300px;
    max-width: 350px;
    margin: 30px 10px 50px 0px;
}

.project-icon:hover {
    width: 350px;
}